services:
  traefik:
    container_name: traefik
    image: traefik:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    networks:
      - traefik
    command: |
      --providers.docker=true
      --providers.docker.network=traefik
      --entrypoints.web.address=:80
      --entrypoints.web.http.redirections.entryPoint.to=websecure
      --entrypoints.web.http.redirections.entryPoint.scheme=https
      --entrypoints.websecure.address=:443
      --certificatesresolvers.myresolver.acme.tlschallenge=true
      --certificatesresolvers.myresolver.acme.email=${TRAEFIK_EMAIL}
      --certificatesresolvers.myresolver.acme.storage=/acme/acme.json
    volumes:
      - acme:/acme
      - /var/run/docker.sock:/var/run/docker.sock:ro

volumes:
  acme:

networks:
  traefik:
    external: true